body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

button {
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid blue;
    font-family: sans-serif;
    font-size: 16px;
}