<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Tìm học sinh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <h2>Khóa học: 2024-2025</h2>
    <h2>Tìm học sinh theo tên</h2>

    <form method="post">
      <input type="text" name="name" placeholder="Nhập tên học sinh" />
      <button type="submit">Tìm</button>
    </form>

    {% if results %}
    <h3>Kết quả:</h3>
    <hr />

    {% for s in results %}
    <div>
      <p><strong>Họ tên:</strong> {{ s["Họ tên"] }}</p>
      <p><strong>Ngày sinh:</strong> {{ s["Ngày sinh"] }}</p>
      <p><strong>Giới tính:</strong> {{ s["Giới tính"] }}</p>
      <p><strong>Số CCCD:</strong> {{ s["CCCD"] }}</p>
      <p><strong>Lớp:</strong> {{ s["Lớp"] }}</p>
      
      <p>
        <strong>Cha:</strong>
        {% if s["Thông tin cha hoặc người giám hộ_Họ tên"] %}
          {{ s["Thông tin cha hoặc người giám hộ_Họ tên"] }}
          {% else %}
          Không có thông tin
        {% endif %}
      </p>
      

      
      <p>
        <strong>Mẹ:</strong>
        {% if s["Thông tin mẹ hoặc người giám hộ_Họ tên"] %}
        {{ s["Thông tin mẹ hoặc người giám hộ_Họ tên"] }}
        {% else %}
        Không có thông tin
        {% endif %}
      </p>

      <hr />
    </div>
    {% endfor %} {% else %}
    <p>Không có kết quả.</p>
    {% endif %}
  </body>
</html>
